<div style="background-color: black">
    <header style="background-color: #e61">
        <h1 style="text-align: center; padding: 40px 0;color:black; font-size: 2em"> Los productos </h1>
    </header>

    <div>
        <table class="table table-bordered">
            <thead style="background-color: rgb(122, 57, 207)">
                <tr>
                    <th style="text-align:center">Nombre</th>
                    <th style="text-align:center">Precio</th>
                    <th style="text-align:center">Imagen</th>
                </tr>
            </thead>
            <tbody style="background-color: rgb(64, 179, 70)">
                {{#each data}}
                    <tr>
                        <td style="text-align:center; padding: 20px">{{this.name}}</td>
                        <td style="text-align:center; padding: 20px">{{this.price}}</td>
                        <td><img width="80" src={{this.image}} alt="icono"></td>
                    </tr> 
                {{/each}}
            </tbody>
        </table>
    </div>
    
    <a href="http://localhost:8082/" style="margin-bottom: 5px;" class="btn btn-info"> Agregar un producto</a>
    
    <footer style="background-color: #e61">
        <h3 style="text-align: center; padding: 40px 0;color:black; margin-top: 120px">Express y handlebars</h3>
    </footer>
</div>