<div class="chat-content" style="padding-bottom: 3em">
    <form onsubmit="return addMsn()">
        <input type="text" placeholder="msn" id="msn" />
        <input type="submit" value="Enviar" />
      </form>

      <div id="caja"></div>
     
</div>