<div>
    <form onsubmit="return addMsn()">
        <input type="text" placeholder="msn" id="msn" />
        <input type="submit" value="Enviar" />
      </form>

      <div id="caja"></div>
     
    <script src="/socket.io/socket.io.js"></script>
    <script src="./chat.js"></script> 
</div>